{{ form_start(biography_form) }}
    {{ form_errors(biography_form) }}
    {{ form_widget(biography_form) }}
<div class="div-bio-btn">
    <button type="submit" class="bio-btn">Mettre à jour ma biographie</button>
</div>
{{ form_end(biography_form) }}