{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajout CSV file</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <button type="submit">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}