{% extends "base.html.twig" %}

{% block body %}
    <h1 class="t-index-4">MOT DE PASSE PERDU</h1>
    <span class="s-t-index-4"></span>

    <div class="container-lost">
    <div class="form-lost">
    <div class="form-b-lost">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn-lost">Envoyer l'email de récupération</button>
    {{ form_end(form) }}
    </div>
    </div>
    </div>
{% endblock %}